{{#each model as |comment|}}
  <p>
  {{comment.text}}
  {{comment.createdAt}}
  {{comment.updatedAt}}
  {{comment.user.username}}
  {{comment.user.email}}
</p>
{{/each}}
{{bs-input action="postComment" property='comment'}}
{{outlet}}
