{{#each model as |comment|}}
  <p>
  {{comment.text}}
  {{comment.createdAt}}
  {{comment.updatedAt}}
  {{comment.user.username}}
  {{comment.user.email}}
</p>
{{/each}}
{{#bs-form action="postComment" model=this}}
{{bs-form-element action="postComment" property="comment"}}
{{/bs-form}}
{{outlet}}
